   <!--BACK BUTTON PART-->
   <button class="back-btn" (click)="goBack()" title="Back">
  <span class="back-icon">&#8592;</span> <!-- Unicode left arrow -->
  <span class="back-text">Back</span>
</button>

<!--SEARCH PART-->
<div class="search-container">
  <div class="filter-buttons-vertical">
    <ng-container *ngFor="let filter of filters">
      <div class="filter-row">
      <button
        type="button"
        class="filter-btn"
        [class.active]="filter.active"
        (click)="toggleFilter(filter)"
      >
        {{ filter.label }}
      </button>
      <input
        *ngIf="filter.active"
        type="text"
        class="filter-input"
        [(ngModel)]="filter.value"
        [placeholder]="'Upišite ' + filter.label"
      />
    </div>
    </ng-container>
    <div class="search-actions-row">
      <button class="search-btn" (click)="onSearch()" title="Start Search">
        <span class="search-icon">🔍</span>
      </button>
      <button class="refresh-btn" (click)="onRefresh()" title="Refresh">
        <span class="refresh-icon">&#x21bb;</span>
      </button>
    </div>
  </div>
</div>

    <!--TABLE OF ANALIZATORS PART-->
    <div class="table-wrapper">
      <table class="analizators-table">
        <thead>
          <tr>
            <th>Ime Analizatora</th>
            <th>Testna oznaka</th>
            <th>Broj uzorka</th>
            <th>LOT</th>
            <th>Datum isteka reagensa</th>
            <th>Numerička vrijednost iz Analizatora</th>
            <th>Datum očitavanja</th>
            <th>Vrijeme očitavanja</th>
            <th>Status testa</th>
            <th>Naziv pretrage</th>
            <th>ID pacijenta</th>
            <th>Bilješke</th>
            <th>Status validacije</th>
            <th>Akcije</th>
          </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let analizator of filteredAnalizatorTests; let i = index">
          <tr [class.editing-test]="analizator.isNew" 
          *ngIf="analizator.testStatus == 'ACTIVE'"><!--Prikazivanja samo onih testova koji su aktivni ili arhivirani-->
            <td>{{ analizator.analizatorName }}</td>
            <td>{{ analizator.testMark }}</td>
            <td>{{ analizator.sampleNumber }}</td>
            <td>{{ analizator.lot }}</td>
            <td>{{ analizator.expirationDateReagens }}</td>
            <td>{{ analizator.numericValueFromAnalizator }}</td>
            <td>{{ analizator.dateOfReading }}</td>
            <td>{{ analizator.timeOfReading }}</td>
            <td>{{ analizator.testStatus }}</td>
            <td>
              <input *ngIf="analizator.isNew" [(ngModel)]="analizator.assayName" required>
              <span *ngIf="!analizator.isNew">{{ analizator.assayName }}</span><!--NA OVAJ NACIN NAPRAVIT SVA POLJA KOJA JE MOGUCE EDITIRATI KADA SE NAPRAVI NOVI TEST IZ APPA-->
            </td>
            <td>{{ analizator.specimenID }}</td>
            <td>
              <textarea
                #TextareaNotes
                [(ngModel)]="analizator.notes"
                [name]="'bilješke_' + i"
                class="auto-resize-textarea"
                rows="1"
                (input)="autoResize($event)"
              ></textarea>
            </td>
            <td>{{ analizator.validated }}</td>

            <td class="action-buttons">

              <!-- Action buttons -->
            <td class="action-buttons">
              <ng-container *ngIf="analizator.isNew; else existingButtons">
                <button class="icon-btn confirm" (click)="confirmAdd(analizator)" title="Confirm">
                  <span>✔️</span>
                </button>
                <button class="icon-btn cancel" (click)="cancelAdd(analizator)" title="Cancel">
                  <span>❌</span>
                </button>
              </ng-container>

              <ng-template #existingButtons>
                <!-- Original buttons -->
                <!-- Delete Button -->
                      <button class="icon-btn delete" 
                              [disabled]="mainDataService.currentUser.securityLevelStatus.trim() !== 'HIGH'"
                              (click)="confirmDelete(analizator)">
                        <span title="Delete">🗑️</span>
                      </button>
                      <!-- Archive Button -->
                      <button class="icon-btn archive" 
                              [disabled]="analizator.validated !== 'VALIDATED'"
                              (click)="archiveAnalizator(analizator)">
                        <span title="Archive">🗃️</span>
                      </button>
                      <!-- Validate Button -->
                      <button class="icon-btn validate"
                              [disabled]="mainDataService.currentUser.securityLevelStatus.trim() == 'LOW'"
                              (click)="confirmValidate(analizator)">
                        <span title="Validate">&#9989;</span> <!-- Check mark icon -->
                      </button>
                      <button class="icon-btn create"
                              (click)="addTest(analizator)">
                        <span title="Validate">➕</span> <!-- Check mark icon -->
                      </button>
              </ng-template>
            </td>
          </tr>
        </ng-container>
</tbody>
      </table>
    </div>
