<div class="logout-container">
  <button class="logout-btn" (click)="logout()">Logout</button>
</div>

<div class="homepage-nav">
  <h1>Dobrodošli {{mainDataService.currentUser.fullName}}</h1>
  <div class="nav-boxes">
    <button class="nav-box" (click)="navigateTo('patientsTab')">
      <span class="nav-title">Pacijenti</span>
      <span class="nav-desc">Pregled testova</span>
    </button>
    <button class="nav-box" (click)="navigateTo('analizatorTestsTab')">
      <span class="nav-title">Analizator Testovi</span>
      <span class="nav-desc">Prihvat i kontrola analizator testova</span>
    </button>
    <button class="nav-box" (click)="navigateTo('reports')">
      <span class="nav-title">Arhiva</span>
      <span class="nav-desc">Svi validirani testovi</span>
    </button>
    <button class="nav-box" (click)="navigateTo('settings')">
      <span class="nav-title">Liste</span>
      <span class="nav-desc">
        Lista ponavljača,
        Lista pacijenata koji su bili pozitivni/slabo pozitivni,
        Lista uzorka prema testu
      </span>
    </button>
    <button class="nav-box" (click)="navigateTo('settings')">
      <span class="nav-title">Registar pozitivnih<br>Davatelja</span>
      <span class="nav-desc">
        DDK koji je pozitivan na jedan od biljega
      </span>
    </button>
  </div>
</div>