<div *ngIf="showLoginWindow" class="loginWindow">
  <div *ngIf="showLogin" class="login">
    <h2>Login</h2>
        <form>
          <label for="username">Username</label>
          <input type="text" id="username" name="username"  [(ngModel)]="currentUser.userName" required>

          <label for="password">Password</label>
          <input type="password" id="password" name="password"  [(ngModel)]="currentUser.password" required>

          <button type="submit" (click)="login()">Login</button>
          <button type="register" (click)="switchBetweenLoginRegister()">Register</button>
        </form>
      </div>
  <div *ngIf="showRegister" class="register">
    <h2>Register</h2>
        <form>
          <label for="fullname">Full Name</label>
          <input type="text" id="fullname" name="fullname" [(ngModel)]="registerdUser.fullName" required>

          <label for="username">Username</label>
          <input type="text" id="username" name="username" [(ngModel)]="registerdUser.userName" required>

          <label for="password">Password</label>
          <input type="password" id="password" name="password" [(ngModel)]="registerdUser.password" required>

          <label for="securityLevel">Security Level Status</label>
          <select id="securityLevel" name="securityLevel"[(ngModel)]="registerdUser.securityLevelStatus"  required>
            <option value="">--Select Level--</option>
            <option value="LOW">Low</option>
            <option value="MIDDLE">Middle</option>
            <option value="HIGH">High</option>
          </select>

          <button type="submit" (click)="register()">Register</button>
           <button type="login" (click)="switchBetweenLoginRegister()">Login</button>
        </form>
  </div>
</div>
<div *ngIf="showPatientPanel" class="patientPanel">
  <h1>Pacijenti</h1>
  <div *ngFor="let patients of patients">
    
  </div>
</div>