<div *ngIf="showLoginWindow" class="loginWindow">
  <div *ngIf="showLogin" class="login">
    <h2>Login</h2>
        <form>
          <label for="username">Username</label>
          <input type="text" id="username" name="username"  [(ngModel)]="currentUser.userName" required>

          <label for="password">Password</label>
          <input type="password" id="password" name="password"  [(ngModel)]="currentUser.password" required>

          <button type="submit" (click)="login()">Login</button>
          <button type="register" (click)="switchBetweenLoginRegister()">Register</button>
        </form>
      </div>
  <div *ngIf="showRegister" class="register">
    <h2>Register</h2>
        <form>
          <label for="fullname">Full Name</label>
          <input type="text" id="fullname" name="fullname" [(ngModel)]="registerdUser.fullName" required>

          <label for="username">Username</label>
          <input type="text" id="username" name="username" [(ngModel)]="registerdUser.userName" required>

          <label for="password">Password</label>
          <input type="password" id="password" name="password" [(ngModel)]="registerdUser.password" required>

          <label for="securityLevel">Security Level Status</label>
          <select id="securityLevel" name="securityLevel"[(ngModel)]="registerdUser.securityLevelStatus"  required>
            <option value="">--Select Level--</option>
            <option value="LOW">Low</option>
            <option value="MIDDLE">Middle</option>
            <option value="HIGH">High</option>
          </select>

          <!-- Show these fields only if HIGH is selected -->
          <div *ngIf="registerdUser.securityLevelStatus === 'HIGH' && adminUserExist" class="high-priority-auth">
            <label for="highPriorityUser">Admin Username (ID 1)</label>
            <input type="text" id="highPriorityUser" [(ngModel)]="adminUserNameChecker" name="highPriorityUser" required>
            <br>
            <label for="highPriorityPassword">Admin Password (ID 1)</label>
            <input type="password" id="highPriorityPassword" [(ngModel)]="adminPasswordChecker" name="highPriorityPassword" required>
          </div>

          <button type="submit" (click)="register()">Register</button>
           <button type="login" (click)="switchBetweenLoginRegister()">Login</button>
        </form>
  </div>
</div>
<div class = "patient-container">
  <div *ngIf="showPatientPanel">
    <p>Aktivni korisnik:  {{currentUser.fullName}}, {{currentUser.userName}}</p>
    <div class="top-right-buttons">
      <button type="analizatorData" (click)="showHideAnalizatorData()">Analizator Podaci</button>
      <button type="logout" (click)="logout()">odjava</button>
    </div>
    <div *ngFor="let patient of patients; let i = index" class="patient-card">
      <!--Dodati update patient button i funkcionalnost-->
      <h2>{{ patient.name }} {{ patient.surname }}</h2>
      <h3>MBO: {{patient.mbo}}</h3>
      <h3>OIB: {{patient.oib}}</h3>
      <h3>DATUM ROĐENJA: {{patient.dateOfBirth}}</h3>
      <label>
        Priority:
        <input type="text" [(ngModel)]="patient.priority">
      </label>
      <br>
      <label>
        Priority Reason:
        <input type="text" [(ngModel)]="patient.priorityReason">
      </label>
      <br>
      <label>
        Sample Number:
        <input type="text" [(ngModel)]="patient.sampleNumber">
      </label>
      <br>
      <label>
        Date of Sample:
        <input type="text" [(ngModel)]="patient.dateOfSample">
      </label>
      <br>
      <label>
        Time of Sample:
        <input type="text" [(ngModel)]="patient.timeOfSample">
      </label>
      <br>
      <label>
        Sample Receipt:
        <input type="text" [(ngModel)]="patient.sampleReceipt">
      </label>
      <br>
      <label>
        Test Requirements:
        <input type="text" [(ngModel)]="patient.testRequirements">
      </label>
      <br>
      <div>
        Analizator Data Count: {{ patient.analizator?.length || 0 }}
      </div>
      <hr>
    </div>
  </div>
  <div *ngIf="showAnalizatorPanel">
    <div class ="analizator-cards">
      <button type="closeAnalizatorData" (click)="showHideAnalizatorData()">Povratak</button>
      <!--Dodati update Analizator button i funkcionalnost-->
      <!--Dodati delete i unlink Analizator button i funkcionalnost-->
      <div *ngFor="let analizator of analizatorDatas; let j = index" class="analizator-card">
      <h2>Analizator Data #{{ j + 1 }}</h2>
      <label>
        Sample Number:
        <input type="number" [(ngModel)]="analizator.sampleNumber">
      </label>
      <label *ngIf="currentUser.securityLevelStatus == 'HIGH'">
        Analizator Name:
        <input type="text" [(ngModel)]="analizator.analizatorName">
      </label>
      <label *ngIf="currentUser.securityLevelStatus == 'HIGH'">
        Analizator OIB:
        <input type="number" [(ngModel)]="analizator.analizatorOib">
      </label>
      <label>
        Test Mark:
        <input type="text" [(ngModel)]="analizator.testMark">
      </label>
      <label>
        Lot:
        <input type="text" [(ngModel)]="analizator.lot">
      </label>
      <label>
        Expiration Date Reagens:
        <input type="text" [(ngModel)]="analizator.expirationDateReagens">
      </label>
      <label>
        Interpreted Result:
        <input type="text" [(ngModel)]="analizator.interpretedResult">
      </label>
      <label>
        Numeric Value From Analizator:
        <input type="number" [(ngModel)]="analizator.numericValueFromAnalizator">
      </label>
      <label>
        Date of Reading:
        <input type="text" [(ngModel)]="analizator.dateOfReading">
      </label>
      <label>
        Time of Reading:
        <input type="text" [(ngModel)]="analizator.timeOfReading">
      </label>
      <label>
        Interpretation For EDelphyn:
        <input type="text" [(ngModel)]="analizator.interpretationForEDelphyn">
      </label>
      <label>
        Test Mark For EDelphyn:
        <input type="text" [(ngModel)]="analizator.testMarkForEDelphyn">
      </label>
      <label>
        Notes:
        <input type="text" [(ngModel)]="analizator.notes">
      </label>
      <hr>
    </div>
    </div>
  </div>
</div>